.header{
    background-color: black;
}

.header__inner{
    max-width: 1230px;
    margin: 0 auto;
    padding: 15px 0;
}

.header__logo{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}